{% extends "base.html" %}
{% block content %}
  <section>
    <form action="/request/1/" method="POST">
      {% csrf_token %}
      <table>
        <thead>
          <tr>
            <td>{{ form.entidad.label }}</td>
            <td>{{ form.entidad }}</td>
            <td>{{ form.entidad.errors }}</td>
          </tr>
          <tr>
            <td>{{ form.year.label }}</td>
            <td>{{ form.year }}</td>
            <td>{{ form.year.errors }}</td>
          </tr>
          <tr>
            <td>{{ form.month.label }}</td>
            <td>{{ form.month }}</td>
            <td>{{ form.month.errors }}</td>
          </tr>
          <tr>
            <td colspan="2"><button>Buscar</button></td>
          </tr>
        </thead>
      </table>
    </form>
  </section>
  <section>
    <form action="/request/2/" method="POST">
      {% csrf_token %}
      <table>
        <thead>
          <tr>
            <td>{{ form2.entidad.label }}</td>
            <td>{{ form2.entidad }}</td>
            <td>{{ form2.entidad.errors }}</td>
          </tr>
          <tr>
            <td>{{ form2.year.label }}</td>
            <td>{{ form2.year }}</td>
            <td>{{ form2.year.errosr }}</td>
          </tr>
          <tr>
            <td>{{ form2.month.label }}</td>
            <td>{{ form2.month }}</td>
            <td>{{ form2.month.errors }}</td>
          </tr>
          <tr>
            <td>Posibles</td>
            <td><input type="text" readonly value={{ posibles }} ></td>
          </tr>
          <tr>
            <td>{{ form2.request.label }}</td>
            <td>{{ form2.request }}</td>
            <td>{{ form2.request.errors }}</td>
          </tr>
          <tr>
            <td colspan="2">
              {% if posibles %} 
                <button>Guardar</button>
              {% endif %}
            </td>
          </tr>
        </thead>
      </table>
    </form>
  </section>
  <section class="list">
    <table>
      <thead>
        <tr>
          <th>Entidad</th>
          <th>Año</th>
          <th>Mes</th>
          <th>Solicitados</th>
        </tr>
      </thead>
      <tbody>
        {% for item in list %} 
        <tr>
          <td>{{ item.entidad }}</td>
          <td>{{ item.year }}</td>
          <td>{{ item.month }}</td>
          <td>{{ item.request }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}